<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>slave1</name>
  <description>jobs for c</description>
  <remoteFS>/home/jenkins-slave-01</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.30.0">
    <host>172.31.5.14</host>
    <port>22</port>
    <credentialsId>jenkins-slave</credentialsId>
    <launchTimeoutSeconds>210</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.KnownHostsFileKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>test</label>
  <nodeProperties/>
</slave>